@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.h1-font {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}

.blue-color {
    color: #363958;
}

.buy-now-color {
    background-image: linear-gradient(60deg, #A4BC46, #85A019);
}

.yellow-color {
    color: #FABE4C;
}

.cart-background-color {
    background-color: #F1F1F1;
}